@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
}

html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

:root {
  --background: 270 15% 85%;
  --foreground: 270 8% 19%;
  --card: 270 15% 93%;
  --card-foreground: 270 8% 19%;
  --popover: 270 15% 93%;
  --popover-foreground: 270 8% 19%;
  --primary: 270 35% 45%;
  --primary-foreground: 270 15% 93%;
  --secondary: 270 20% 55%;
  --secondary-foreground: 270 15% 93%;
  --muted: 270 15% 88%;
  --muted-foreground: 270 8% 25%;
  --accent: 270 25% 52%;
  --accent-foreground: 270 15% 93%;
  --destructive: 0 70% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 270 8% 71%;
  --input: 270 8% 71%;
  --ring: 270 35% 45%;
  --radius: 0.5rem;
  --sidebar: 270 15% 85%;
  --sidebar-foreground: 270 8% 19%;
  --sidebar-border: 270 8% 71%;
  --sidebar-accent: 270 25% 52%;
  --sidebar-accent-foreground: 270 15% 93%;
}

.dark {
  --background: 270 6% 8%;
  --foreground: 270 15% 90%;
  --card: 270 4% 18%;
  --card-foreground: 270 15% 90%;
  --popover: 270 4% 18%;
  --popover-foreground: 270 15% 90%;
  --primary: 270 60% 65%;
  --primary-foreground: 270 20% 98%;
  --secondary: 270 4% 16%;
  --secondary-foreground: 270 15% 85%;
  --muted: 270 4% 22%;
  --muted-foreground: 270 5% 55%;
  --accent: 270 60% 65%;
  --accent-foreground: 270 20% 98%;
  --destructive: 0 70% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 270 4% 14%;
  --input: 270 4% 20%;
  --ring: 270 60% 65%;
  --sidebar: 270 6% 8%;
  --sidebar-foreground: 270 15% 85%;
  --sidebar-border: 270 4% 10%;
  --sidebar-accent: 270 60% 65%;
  --sidebar-accent-foreground: 270 20% 98%;
}
